@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash&display=swap');

.banner {
  background-image: url(./art-banner.jpg);
  height: 300px;
  background-size: cover;
  background-position-y: center;
}

.strike {
  text-decoration: line-through;
}

.magic-text {
  font-family: 'Berkshire Swash', cursive;
  color: #8f4c00;
  font-weight: bold;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #ffc400,
    0 0 80px #ffc400,
    0 0 90px #ffc400,
    0 0 100px #ffc400,
    0 0 150px #ffc400;
}

.evil-text {
  font-family: 'Berkshire Swash', cursive;
  color: #7c0000;
  font-weight: bold;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #ff3300,
    0 0 80px #ff3300,
    0 0 90px #ff3300,
    0 0 100px #000,
    0 0 150px #ff3300;
}

.tile.centered {
  display: flex;
  justify-content: space-around;
}

.tile.image-grid {
  background-color: #dbdbdb;
  padding: 1.25rem;
  border-radius: 6px;
}